<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About My Rentals</h2>
  <p>
    The My Rentals is a premier property locator service.
  </p>
  {{#link-to 'index' class="button"}}
    Search
  {{/link-to}}
</div>
