<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>My Rentals Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <p>
    My Rentals Speciality
    <address>
      Avenue Road<br>
      Chennai
    </address>
    <a href="tel:2234 4565">2234 4565</a><br>
   
  </p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>
